.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
}

.btns {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.spinWrapper {
  min-height: 27px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}